.advertise-container {
	height: 300px;
	width: 550px;
	background: #f8f87b;
	display: flex;
	margin-top: 0;
	margin-left: 5%;
	margin-top: 3%;
	border-radius: 5px;
	flex-flow: column;
	align-items: center;
}

/* input de texto para la pagina*/

.input-container {
	position: relative;
	margin-bottom: 25px;
	width: 60%;
	margin-top: 20px;
}

.input-container label {
	position: absolute;
	font-size: 16px;
	color: #555;
	top: 10px;
	left: 6px;
	pointer-events: none;
	transition: all 0.5s ease-in-out;
}

.input-container .input-name {
	border: 0;
	border-bottom: 1px solid rgb(14, 14, 14);
	background: transparent;
	width: 100%;
	padding: 8px 0 5px 0;
	font-size: 16px;
	color: rgb(255, 255, 255);
	transition: all 0.5s ease-in-out;
}

.input-container .input-name:focus {
	border: none;
	outline: none;
	border-bottom: 1px solid #0c0807;
}

.input-name:focus ~ label {
	top: -15px;
}

/* fin del css de la caja de texto*/

.advertise-container .btn-add-img {
	height: 100px;
	width: 100px;
	background: rgba(255, 255, 255, 0.795);
	border-radius: 5px;
	border: 0;
	box-shadow: 0 4px 6px#0c0807;
}

.advertise-container .input-about {
	height: 80px;
	width: 300px;
	background: none;
	margin-top: 2%;
}
