* {
	padding: 0;
	margin: 0;
}

.img1 {
	width: 59%;
}

.logo1 {
	width: 15%;
}
.logo2 {
	width: 15%;
}

.contenedor {
	width: 100%;
	margin: 20px auto 0 0;
	text-align: center;
}

.text {
	margin-top: 50px;
	text-align: center;
	color: #333;
}

.listica {
	text-align: center;
	padding: 20px;
}

.listica a {
	color: #b67e25;
	text-decoration: underline;
}
